.topBar {
  background-color: var(--topBarBackgroundColor);
  margin-left: 183px;
  padding: 0 16px;
  width: calc(100% - 183px);
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
