.navMenu {
  margin: 10px 0;
  .nav {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 900;
  }
  .item {
    font-size: 12px;
    padding: 10px 15px 10px;
    cursor: pointer;
    transition: 0.3s color linear;
    color: #fff;
    &:hover {
      color: #ae1726;
    }
  }
  .active {
    color: #fff;
    border-bottom: 2px solid #ae1726;
  }
}
