.paymentDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  .dishBox {
    padding: 12px 0;
    width: calc(100% - 262px);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 24px 0;
  }

  .totalPayment {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 250px;
    gap: 20px;
    color: #fff;
    div {
      display: flex;
      justify-content: space-between;
    }
    span {
      color: #c89825;
      font-size: 14px;
      font-weight: 500;
    }
    strong {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .border {
    width: 100%;

    border-top: 5px dashed #94111f;
  }
  .paymentBox {
    padding: 12px 0;
    width: 100%;
  }
}

.totalPaymentWrapper {
  display: flex;
  justify-content: flex-end;
  .totalPaymentValue {
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    span {
      color: #c89825;
    }
    strong {
      font-weight: 700;
      color: #fff;
    }
  }
}

.paymentMethods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  .btn {
    width: 250px;
  }
}

.tipsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
