.callWaiter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  .callWaiterCantainer {
    height: 280px;
    min-width: 465px;
    overflow: hidden;
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .title {
      color: #262626;
      font-size: 16px;
      font-weight: 700;
    }
    .btn {
      width: 248px;
    }
  }
}
