.notificationsPanel {
  width: 300px;
  max-height: 282px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 100%;
  right: 50%;
  z-index: 1100;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 0px;
  color: #262626;
  cursor: default;
  .title {
    color: rgba(38, 38, 38, 0.5);
    font-size: 14px;
    border-bottom: 0.5px solid rgba(38, 38, 38, 0.2);
    padding: 8px 0;
    letter-spacing: 0.15px;
    font-weight: 900;
  }
  .list {
    padding: 4px 8px;
    overflow-y: scroll;
    max-height: 240px;
  }
}
