.basket {
  position: relative;
  transition: 0.3s ease-in all;
  cursor: pointer;
  .icon {
    cursor: pointer;
    transition: 0.3s ease-in all;
    font-size: 20px;
    &:hover {
      color: var(--yellowColor);
    }
  }
}
