.basket {
  position: relative;
  padding: 10px;
  transition: 0.3s ease-in all;
  
  .icon {
    cursor: pointer;
    transition: 0.3s ease-in all;
    font-size: 20px;
    &:hover {
      color: #8c2c23;
    }
  }
}
