.field {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  .input {
    height: 40px;
    color: #592722;
    border: 0.5px solid var(--inputBorderColor);
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
    &:focus {
      box-shadow: 0 0 5px 0 rgba(var(--inputFocusColor), 0.5);
      border: 1px solid var(--inputFocusColor);
      color: var(--inputFocusColor);
    }
  }

  .label {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 3px;
    text-transform: capitalize;
  }
  .error {
    font-size: 12px;
    color: var(--redColor);
  }
  .input:focus ~ label {
    color: #bf3326;
  }
}
:global(.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root) {
  height: 40px !important;
}
