.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  gap: 7px;
  padding: 0;
  width: 100%;
}
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;

  max-width: 320px;
  .half {
    width: 45%;
  }
}
.registerDialog {
  display: flex;

  .img {
    width: 340px;
  }

  .btn {
    background-color: #94111f;
    max-width: 320px;
    width: 100%;
    margin-top: 10px;
  }
}
