.stack {
  padding: 0px 20px;
  .avatar {
    height: 60px !important;
    width: 60px !important;
  }
  .userData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    .name {
      letter-spacing: 1.8px;
      font-size: 24px;
      color: #8c2c23;
      font-weight: 900;
    }
    .role {
      font-weight: 700;
      color: rgba(#262626, 0.5);
    }
  }
}
