.paymentDish {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 12px;
  border: 2px solid #f1f3f4;
  background-color: #bbbbbc;
  height: 130px;
  overflow: hidden;
  border-radius: 4px;
  width: 300px;
  color: #262626;
  .imageBox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      height: 100px;

      border-radius: 8px;
    }
  }
  .infoBox {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 5px;
    .priceBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 4px;
    }
    span {
      width: 50%;
      font-size: 12px;
      color: #2626267e;
    }
    strong {
      font-size: 12px;
    }

    .title {
      text-transform: capitalize;
      text-align: center;
      width: 100%;
      font-weight: 900;
      font-size: 14px;
    }
    .total {
      padding: 4px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 1px dashed #2626267e;
      span {
        font-size: 12px;
        color: #262626;
      }
    }
  }
}
