.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background-color: rgba($color: #000000, $alpha: 0.9);
  transition: 0.3s linear all;
  color: #fff;
  transition: var(--transition);
  .black {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 10px 5px 5px 2px #0c0e10 inset;
    border-radius: 50%;
  }
  .red {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: -10px 5px 12px 2px #d21a1a inset;
    border-radius: 50%;
  }
}

.active {
  opacity: 1;
  visibility: visible;
  .red {
    animation: animate 4s infinite;
  }
  .black {
    animation: animate 4s infinite;
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
