.paymentMethod {
  background-color: #9a9b9b;
  height: 120px;
  border-radius: 4px;
  width: 380px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 2px solid #f1f3f4;
  transition: 0.3s linear border;
  cursor: pointer;

  &:hover {
    border: 2px solid #fabe2f;
  }
  .paymentType {
    height: 40px;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
  }
  .image {
    max-height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .details {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
}
.active {
  border: 2px solid #fabe2f;
}
