.form {
  max-width: 320px;
  margin: 0 auto;
  .fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: none;
    padding: 4px 8px;

    label {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
.buttons {
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 8px 0px;
  .btn {
    width: 304px;
    max-width: 320px;
    text-transform: capitalize;
  }
}
