.form {
  max-width: 320px;
  margin: 0 auto;
  .fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: none;
    padding: 4px 8px;
    .field {
      width: 100%;
      height: 80px;
      display: block;
      color: #cdcdce;
      label {
        color: #c89825;
      }
      input {
        border: 1px solid #98741e;
        background-color: #060708;
        margin-top: 8px;
        height: 50px;
        font-size: 14px;
        color: #cdcdce;
        width: 100%;
        &::placeholder {
          color: #cdcdce;
          font-weight: 900;
        }
      }
    }
  }
}
.buttons {
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 8px 0px;
  .btn {
    width: 304px;
    max-width: 320px;
    text-transform: capitalize;
  }
}
